node_modules/
dist/
*.db
*.db-shm
*.db-journal
*.db-wal
.env
/open-banking-chile
.adal/
.augment/
.claude/
.codebuddy/
.commandcode/
.continue/
.crush/
.factory/
.goose/
.junie/
.kilocode/
.kiro/
.kode/
.mcpjam/
.mux/
.neovate/
.openhands/
.pi/
.pochi/
.qoder/
.qwen/
.roo/
.trae/
.vibe/
.windsurf/
.zencoder/
skills-lock.json
skills/
